### Verify

- See a high-level [roadmap](https://gitlab.com/groups/gitlab-org/-/roadmap?scope=all&utf8=✓&state=opened&label_name[]=devops%3A%3Averify)
- Stage usage can be tracked at the Verify [SMAU (Stage Monthly Active Users) Dashboard](https://app.periscopedata.com/app/gitlab/456428/Verify-Stage-Dashboard)

The three year goals of the Verify group are:

1. Be the tool of choice for groups that want to reduce their lead time for changes to under an hour. Part of how we will achieve this is by taking [CI/CD analytics](https://gitlab.com/groups/gitlab-org/-/epics/358) to the next level.
1. Provide 100% automated setup, configuration, scaling and management of GitLab Runners for medium to large enterprises.
1. [Make ML/AI workflows easier](https://gitlab.com/groups/gitlab-org/-/epics/2436), including features like [adding the ability to install industry leading applications like Kubeflow](https://gitlab.com/gitlab-org/gitlab/issues/197424) to your Kubernetes clusters.

The details of how we'll achieve different elements of this can be found in the individual category pages below:

<%= partial("direction/categories-content", :locals => { :stageKey => "verify" }) %>
